/* BASE STYLE */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* BODY STYLE */

body {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    width: 700px;
    height: 800px;
    margin-left: 30px;
    margin-top: 40px;
    font-style: sans-serif;
}

/* PERSONAL INFORMATION */

hr {
    margin-top: 50px;
    border-top: 2px solid black;
    width: 470px;
    margin-left: 72px;
}

.personal-information {
    margin-top: 17px;
    margin-left: 74px;
}

.full-name {
    padding-bottom: 5px;

}

.position {
    padding-bottom: 5px;
    color: green;
}


.address {
    
}

.city {

}

.phone-number {

}

.email {

}


/* SKILLS */

.skills {
    margin-top: 17px;
    margin-left: 74px;
}

.skill {
    
}

.skill-title {
    color: green;
    padding-bottom: 5px;
}

/* EDUCATION */

.education {
    margin-top: 17px;
    margin-left: 74px;
}

.education-title {
    padding-bottom: 5px;
    color: green;
}

.school {
    color: dodgerblue;
    font-size: 17px;
    padding-bottom: 3px;
}

.year {
    padding-bottom: 2px;
}

.spell-title {
    padding-bottom: 6px;
    color: darkgoldenrod;
}

.spells {

}

.spell {

}

/* EXPERIENCE */

.experience {
    margin-top: 17px;
    margin-left: 74px;
}

.gryffindors-title {
    color: green;
    padding-bottom: 5px;
}

.company {
    color: dodgerblue;
    font-size: 17px;
    padding-bottom: 3px;
}

.period {
    padding-bottom: 6px;
}

.achievement-title {
    padding-bottom: 2px;
    color: darkgoldenrod;
}

.achievements {

}

.achievement {

}

/* ACROSS THE INTERNET */
.internet {
    margin-top: 17px;
    margin-left: 74px;
}

.internet-title {
    color: green;
}
a {
    display: block;
}